@model IEnumerable<Laboratories.Domain.StudentGradesDet>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = Laboratories.Web.Resources.General.Delete;
}


<hr />
<hr />

<h4 align="center" class="panel-title ">
    <strong style="text-align:center;color:darkblue">@Laboratories.Web.Resources.StudentRates.studentRates </strong>
</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Laboratories.Web.Resources.StudentRates.studentName
        </th>
        <th>
            @Laboratories.Web.Resources.StudentRates.degree
        </th>
        <th>
            @Laboratories.Web.Resources.StudentRates.rate
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.stdGD_Student.std_arName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stdGD_degree)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stdGD_rate)
    </td>

</tr>
        @Html.ActionLink(@Laboratories.Web.Resources.General.Delete, "Delete", new { id = item.schd_Id }, new { @class = "btn btn-danger" })
    }

</table>

@using (Html.BeginForm("Delete", "StudentExamesGrade", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="@Laboratories.Web.Resources.General.Delete" class="btn btn-danger" />

        @Html.ActionLink(@Laboratories.Web.Resources.General.backToList, "Index")
    </div>
}
